#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  top: 50vh;
  left: 70vw;
  opacity: 0.6;
}

#mydiv:hover {
  opacity: 1;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.detail-header {
  opacity: 0.8;
}

.detail-header:hover {
  opacity: 0;
}
